USE [master]
GO
/****** Object:  Database [CoffeeManagement]    Script Date: 11/06/2019 18:33:58 ******/
CREATE DATABASE [CoffeeManagement] ON  PRIMARY 
( NAME = N'CoffeeManagement', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\CoffeeManagement.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CoffeeManagement_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\CoffeeManagement_log.LDF' , SIZE = 504KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CoffeeManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CoffeeManagement]
GO
/****** Object:  Table [dbo].[cftable]    Script Date: 11/06/2019 18:33:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cftable](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[tableStatus] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cftable] ON
INSERT [dbo].[cftable] ([id], [name], [tableStatus]) VALUES (1, N'Bàn 1', 0)
INSERT [dbo].[cftable] ([id], [name], [tableStatus]) VALUES (2, N'Bàn 2', 0)
INSERT [dbo].[cftable] ([id], [name], [tableStatus]) VALUES (3, N'Bàn 3', 0)
SET IDENTITY_INSERT [dbo].[cftable] OFF
/****** Object:  Table [dbo].[category]    Script Date: 11/06/2019 18:33:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[category] ON
INSERT [dbo].[category] ([id], [name]) VALUES (1, N'Trà')
INSERT [dbo].[category] ([id], [name]) VALUES (2, N'Nước uống đóng chai')
INSERT [dbo].[category] ([id], [name]) VALUES (3, N'Cà phê')
SET IDENTITY_INSERT [dbo].[category] OFF
/****** Object:  Table [dbo].[role]    Script Date: 11/06/2019 18:33:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[role] ON
INSERT [dbo].[role] ([id], [name]) VALUES (1, N'quản lý')
INSERT [dbo].[role] ([id], [name]) VALUES (2, N'thu ngân')
INSERT [dbo].[role] ([id], [name]) VALUES (3, N'pha chế')
SET IDENTITY_INSERT [dbo].[role] OFF
/****** Object:  Table [dbo].[drink]    Script Date: 11/06/2019 18:33:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[drink](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[price] [int] NULL,
	[categoryId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[drink] ON
INSERT [dbo].[drink] ([id], [name], [price], [categoryId]) VALUES (1, N'Lipton đá', 20000, 1)
INSERT [dbo].[drink] ([id], [name], [price], [categoryId]) VALUES (2, N'Lipton nóng', 20000, 1)
INSERT [dbo].[drink] ([id], [name], [price], [categoryId]) VALUES (3, N'Trà Ô long', 25000, 1)
SET IDENTITY_INSERT [dbo].[drink] OFF
/****** Object:  Table [dbo].[staff]    Script Date: 11/06/2019 18:33:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staff](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[sex] [nvarchar](10) NULL,
	[birthday] [date] NULL,
	[address] [nvarchar](100) NULL,
	[phone] [nvarchar](20) NULL,
	[roleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[staff] ON
INSERT [dbo].[staff] ([id], [name], [sex], [birthday], [address], [phone], [roleId]) VALUES (1, N'Nguyễn Việt Châu', N'Nam', CAST(0x5C1D0B00 AS Date), N'343 Đường 30/4, Q. Ninh Kiều, TPCT', N'0934687491', 5)
INSERT [dbo].[staff] ([id], [name], [sex], [birthday], [address], [phone], [roleId]) VALUES (2, N'Trần Văn Chiến', N'Nam', CAST(0x4B1F0B00 AS Date), N'02 Đại lộ Hòa Bình, Q. Ninh Kiều, TPCT', N'0336541257', 5)
INSERT [dbo].[staff] ([id], [name], [sex], [birthday], [address], [phone], [roleId]) VALUES (3, N'Nguyễn Thị Anh Thơ', N'Nữ', CAST(0x8B210B00 AS Date), N'19 Đường Ngô Quyền, Q. Ninh Kiều, TPCT', N'0934687491', 4)
SET IDENTITY_INSERT [dbo].[staff] OFF
/****** Object:  Table [dbo].[bill]    Script Date: 11/06/2019 18:33:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[checkIn] [datetime] NULL,
	[checkOut] [datetime] NULL,
	[totalCost] [int] NULL,
	[billStatus] [int] NULL,
	[staffId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[account]    Script Date: 11/06/2019 18:33:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[username] [nvarchar](100) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
	[staffId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[account] ([username], [password], [staffId]) VALUES (N'admin', N'admin123', 1)
/****** Object:  Table [dbo].[billdetail]    Script Date: 11/06/2019 18:33:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[billdetail](
	[billId] [int] NOT NULL,
	[tableId] [int] NOT NULL,
	[drinkId] [int] NOT NULL,
	[quantity] [int] NULL,
	[cost] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[billId] ASC,
	[tableId] ASC,
	[drinkId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Default [DF__cftable__tableSt__145C0A3F]    Script Date: 11/06/2019 18:33:58 ******/
ALTER TABLE [dbo].[cftable] ADD  DEFAULT ('0') FOR [tableStatus]
GO
/****** Object:  Default [DF__bill__billStatus__09DE7BCC]    Script Date: 11/06/2019 18:33:58 ******/
ALTER TABLE [dbo].[bill] ADD  DEFAULT ('0') FOR [billStatus]
GO
/****** Object:  ForeignKey [categoryId]    Script Date: 11/06/2019 18:33:58 ******/
ALTER TABLE [dbo].[drink]  WITH CHECK ADD  CONSTRAINT [categoryId] FOREIGN KEY([categoryId])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[drink] CHECK CONSTRAINT [categoryId]
GO
/****** Object:  ForeignKey [roleId]    Script Date: 11/06/2019 18:33:58 ******/
ALTER TABLE [dbo].[staff]  WITH CHECK ADD  CONSTRAINT [roleId] FOREIGN KEY([roleId])
REFERENCES [dbo].[role] ([id])
GO
ALTER TABLE [dbo].[staff] CHECK CONSTRAINT [roleId]
GO
/****** Object:  ForeignKey [staffId_in_bill]    Script Date: 11/06/2019 18:33:58 ******/
ALTER TABLE [dbo].[bill]  WITH CHECK ADD  CONSTRAINT [staffId_in_bill] FOREIGN KEY([staffId])
REFERENCES [dbo].[staff] ([id])
GO
ALTER TABLE [dbo].[bill] CHECK CONSTRAINT [staffId_in_bill]
GO
/****** Object:  ForeignKey [staffId]    Script Date: 11/06/2019 18:33:58 ******/
ALTER TABLE [dbo].[account]  WITH CHECK ADD  CONSTRAINT [staffId] FOREIGN KEY([staffId])
REFERENCES [dbo].[staff] ([id])
GO
ALTER TABLE [dbo].[account] CHECK CONSTRAINT [staffId]
GO
/****** Object:  ForeignKey [billId]    Script Date: 11/06/2019 18:33:58 ******/
ALTER TABLE [dbo].[billdetail]  WITH CHECK ADD  CONSTRAINT [billId] FOREIGN KEY([billId])
REFERENCES [dbo].[bill] ([id])
GO
ALTER TABLE [dbo].[billdetail] CHECK CONSTRAINT [billId]
GO
/****** Object:  ForeignKey [drinkId]    Script Date: 11/06/2019 18:33:58 ******/
ALTER TABLE [dbo].[billdetail]  WITH CHECK ADD  CONSTRAINT [drinkId] FOREIGN KEY([drinkId])
REFERENCES [dbo].[drink] ([id])
GO
ALTER TABLE [dbo].[billdetail] CHECK CONSTRAINT [drinkId]
GO
/****** Object:  ForeignKey [tableId]    Script Date: 11/06/2019 18:33:58 ******/
ALTER TABLE [dbo].[billdetail]  WITH CHECK ADD  CONSTRAINT [tableId] FOREIGN KEY([tableId])
REFERENCES [dbo].[cftable] ([id])
GO
ALTER TABLE [dbo].[billdetail] CHECK CONSTRAINT [tableId]
GO
